$colors: (
  neutral: (
    '700': hsl(224, 30%, 27%),
    '300': hsl(241, 100%, 89%),
    '200': hsl(221, 100%, 96%),
    '100': hsl(0, 0%, 100%),
  ),
  primary: (
    '400': hsl(252, 100%, 67%),
    '500': hsla(256, 72%, 46%, 1),
  ),
  secondary: (
    '400': hsl(241, 81%, 54%),
    '500': hsla(241, 72%, 46%, 0),
  ),
  accent: (
    '1': hsl(0, 100%, 67%),
    '2': hsl(39, 100%, 56%),
    '3': hsl(166, 100%, 37%),
    '4': hsl(234, 85%, 45%),
  ),
);